<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Contact Us Form  | CodingLab </title>
    <link rel="stylesheet" href="contact.component.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Surkhet, NP12</div>
          <div class="text-two">Hastings 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 9893 5647</div>
          <div class="text-two">+0096 3434 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">pawsforhope@gmail.com</div>
          <div class="text-two">info.pawsforhope@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">
          <i class="fas fa-paw spin"></i>
          Let's get in touch </div>
        <p>
        
        <div class="input-box">
          <input [(ngModel)]="name" type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input [(ngModel)]="email" type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <textarea [(ngModel)]="message" placeholder="Enter your message"></textarea>
        </div>
        <div class="button">
          <input (click)="sendEmail()" type="button" value="Send Now">
        </div>
      </div>
    </div>
  </div>

</body>
</html>
