<div class="row">
  <div class="col filters-col">
    <app-filters (searchTriggered)="onSearchTriggered($event)"></app-filters>
  </div>

  <div class="col-md-8">
    <app-info
      (onUpdateTriggered)="onUpdateTriggered($event)"
      (onDeleteTriggered)="onDeleteTriggered($event)"
      [patients]="allPatients"
    ></app-info>
  </div>
  <div class="col">
    <app-patient-create
      (onCreateTriggered)="onCreateTriggered($event)"
    ></app-patient-create>
  </div>
</div>

<!-- toata pagina  -->