<div mat-dialog-title>
  <h1>Owner form</h1>
</div>
<form [formGroup]="ownerForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Owner name</mat-label>
        <input matInput type="text" placeholder="Ana" formControlName="name" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          type="text"
          placeholder="Street No"
          formControlName="address"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pets</mat-label>
        <mat-select formControlName="pet">
          <mat-option *ngFor="let pet of patients" [value]="pet.name">
            {{ pet.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
