.col {
  height: 100%; /* Adjust the height as needed */
}
.filters-col {
  height: 100%; /* Adjust the height as needed */
}


  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
  }
  
  .card {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 1rem;
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  